h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    display: flex;
    width: 100%;
}

main {
    margin: 20px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.calculation {
    border: 1px solid black;
    padding: 20px;
    background-color: pink;
}
.add-output {
   
}